body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 8px 8px;
  border-top: 8px solid white;
  padding: 12px 4px;
}

.content {
  background: #e3f4ff;
  padding: 12px 4px;
  border: 8px solid white;
}

.button-container {
  background: #e3f4ff;
  padding: 4px;
  text-align: center;
  margin: 8px;
  border-bottom: 8px solid white;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 4px auto;
  display: block;
  padding: 8px 16px;
}

